.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
}

.placeholder {
  height: 300px;
  background-color: pink;
  border-radius: 25px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.pic {
  height: 300px;
  border-radius: 25px;
}