.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
}

.choicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.placeholder {
  height: 300px;
  background-color: pink;
  border-radius: 25px;
}

.thumbnail {
  height: 250px;
  width: 100%;
  max-width: 500px;
  background-color: lightblue;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1.5rem;
}

.content h2 {
  font-weight: 700;
  font-size: 18px;
  margin-right: 1rem;
}

.pic {
  height: 300px;
  border-radius: 25px;
}
